body {
    background-color:#fae2e2
}
h1 {
    color: #5f0415
}
h2 {
    color: #5f0415
}
h3 {
    color: #5f0415
}
p{
    color: #5f0415
}
button{
    width: 200px;
    height: 100px;
    background-color: #a6b098
}